body{
  background: lightgrey;
}

.main {
  100vh;
  100vw;
  position: absolute;
}


.topContainer {
  height: 250px;
  width: 60%;
  background: #fff;
  position: relative;
  top: 50px;
  left: 20%;

}

.textContainer {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.paragraph {
  font-family: sans-serif;
}



.button {
  height: 50px;
  width: 100px;
  background: #D0021B;
  color: #fff;
  position: relative;
  top: 25px;
  left: 50px;
  font-family: sans-serif;
  font-size: 20px;
}

.buttonSecond {
  background: #4A90E2;
  margin-left: 10px;
}


.bottomContainer {
  height: 500px;
  width: 60%;
  background: #fff;
  position: relative;
  top: 100px;
  left: 20%;





}

.footer {
  height: 70px;
  width: 100%;
  background: #333333;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

}
